<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>

</head>
<body>
    <div class="jumbotron">
        <div class="d-flex justify-content-end">
          <div class="d-flex">
            <form class="mr-3"  action="/products" method="get">
              <input type="submit" value="Products" class="btn btn-danger">
            </form>
            <% if (cart) { %>
                <form class="mr-3"  action="/cart" method="get">
                  <input type="submit" value="Cart" class="btn btn-success">
                </form>
              <% } else { %>
                <div></div>
              <% } %>
            <form class="mr-3"  action="/profile" method="get">
              <input type="submit" value="Profile" class="btn btn-secondary">
            </form>
            <form class="mr-3"  action="/chat" method="get">
              <input type="submit" value="Chat" class="btn btn-primary">
            </form>
            <form class="mr-3"  action="/messages" method="get">
              <input type="submit" value="Messages" class="btn btn-info">
            </form>
            <form id="logOut" action="/logout" method="post">
              <input type="submit" value="Desloguear" class="btn btn-warning">
            </form>
          </div>
          
          
        </div>

        <div>
            <h2 class="text-success pb-4">Datos de envio</h2>
            
            <div class="d-flex align-items-center profile" >
                <h3 class=" fs-5 fw-bold profileTitle">Name</h3>
                <div class="infoProfile"><%= name %></div>
            </div>
            <div class="d-flex align-items-center profile" >
                <h3 class=" fs-5 fw-bold profileTitle">Email</h3>
                <div class="infoProfile"><%= email %></div>
            </div>
        
        <h2 class="text-danger pb-4">Productos</h1>

            <% productos.productos.forEach( producto=> {%>
            
                <div class="pb-5">
                    <div class="d-flex align-items-center" >
                      <img src="<%= producto.item.thumbnail %>"" alt="<%= producto.item.title %>" style="width: 150px; height: 200px;">
                    </div>
                    <div class="d-flex align-items-center" >
                        <h4 class=" fs-6 fw-bold " style="width: 300px;">Nombre del libro</h4>
                        <div class=""><%= producto.item.title %></div>
                    </div>
                    <div class="d-flex align-items-center" >
                        <h4 class=" fs-5 fw-bold " style="width: 300px;">Autor</h4>
                        <div class=""><%= producto.item.author %></div>
                    </div>
                    <div class="d-flex align-items-center" >
                        <h4 class=" fs-5 fw-bold " style="width: 300px;">Cantidad</h4>
                        <div class=""><%= producto.quantity %></div>
                    </div>
                    <div class="d-flex align-items-center" >
                        <h4 class=" fs-5 fw-bold " style="width: 300px;">Costo total del producto</h4>
                        <div class="">S/. <%= producto.total %></div>
                    </div>
                </div>
              
             <%}

             ) %>

        <h2 class="text-success pb-4">Detalle de la compra</h1>

            <div class="d-flex align-items-center" >
            <h3 class=" fs-5 fw-bold " style="width: 500px;">Cantidad total de productos</h3>
            <div ><%= productos.totalQty %></div>
        </div>

        <div class="d-flex align-items-center" >
            <h3 class=" fs-5 fw-bold " style="width: 500px;">Costo total de la compra</h3>
            <div >S/. <%= productos.subTotal  %></div>
        </div>

      </div>
</body>
</html>