<div>
    <h1 class="text-primary pb-4">Datos personales</h1>
        
    <div class="d-flex">
        
        <div class="infoProfileContainer">
            
            <div class="d-flex align-items-center profile" >
                <h3 class=" fs-5 fw-bold profileTitle">Name</h3>
                <div class="infoProfile"><%= name %></div>
            </div>
            <div class="d-flex align-items-center profile">
                <h3 class=" fs-5 fw-bold profileTitle">Email</h3>
                <div class="infoProfile"><%= email %></div>
            </div>
            <div class="d-flex align-items-center profile">
                <h3 class=" fs-5 fw-bold profileTitle">Address</h3>
                <div class="infoProfile"><%= address %></div>
            </div>
            <div class="d-flex align-items-center profile">
                <h3 class=" fs-6 fw-bold profileTitle">Age</h3>
                <div class="infoProfile"><%= age %></div>
            </div>
            <div class="d-flex align-items-center profile">
                <h3 class=" fs-5 fw-bold profileTitle">Phone</h3>
                <div class="infoProfile"><%= phone %></div>
            </div>
            <div class="d-flex align-items-center profile">
                <h3 class=" fs-5 fw-bold profileTitle">Picture</h3>
                <div class="infoProfile"><%= picture %></div>
            </div>
        </div>
    </div>
</div>